@model IEnumerable<TwitterSentiments.Models.Request>

@{
    ViewBag.Title = "Index";
}

<h2>Request History</h2>
<p>
    Below is the history of requests made to the Twitter Sentiments application recently. The score 
    represents a positive/negative sentiment analysis averaged over the number of tweets analyzed. It 
    is a 0-1 scale, with 1 being the most positive. 
</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TwitterHandle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Count)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>Scale</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TwitterHandle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Count)
        </td>
        <td class="data" id="data" value="@item.Result">
            @{ var percent = Math.Round(item.Result * 100, 2); }
            @percent<span>%</span>
        </td>
        <td id="scale"></td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}
</table>

<script type="text/javascript">
    var data = document.querySelectorAll("#data");
    var scales = document.querySelectorAll("#scale");

    for (let i = 0; i < data.length; i++) {
        var value = data[i].attributes[2].nodeValue;

        var p = document.createElement("p");

        //p.style.height = "20px";
        //p.style.width = "150px";

        // Convert value to Red -> Yellow -> Green gradient
        // Intervals of 12.5%
        if(value > 0 && value < 0.125) {
            p.style.backgroundColor = "#FF2828";
        } else if (value >= 0.125 && value < 0.25) {
            p.style.backgroundColor = "#FF6030";
        } else if (value >= 0.25 && value < 0.375) {
            p.style.backgroundColor = "#FF9E28";
        } else if (value >= 0.375 && value < 0.5) {
            p.style.backgroundColor = "#FFBE28";
        } else if (value >= 0.5 && value < 0.6) {
            p.style.backgroundColor = "#FFDB28";
        } else if (value >= 0.6 && value < 0.70) {
            p.style.backgroundColor = "#FFFF28";
        } else if (value >= 0.70 && value < 0.8) {
            p.style.backgroundColor = "#BBFF28";
        } else if (value >= 0.8 && value < 1.0) {
            p.style.backgroundColor = "#42FF42";
        }

        scales[i].appendChild(p);
    }
</script>
